body {
    align-items:center;
    justify-content: center;
    width: 600px;
}

header {
    background-color: rgb(173, 108, 233);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    display: flex;
    margin: 10px;
    display:flex;
    justify-content: space-between;

}

h1 {

}

section {
    display: flex;

}

nav {
display: flex;
font-size: 20px;
}

p {
    display: flex;
    margin: 4px;
}